{% extends 'index.html' %}
            {% block content %}
			<section>
                <center><h1>Employee Record Successfully Inserted</h1></center><br>
   <center>List of Employees Details</center><br>
<center><table border="2" align="center" bgcolor="#5f9ea0">
<thead>
<tr>
    <th>Employee number</th>
    <th>Employee Name</th>
    <th>Employee Email</th>
</tr>
</thead>
    <tbody>
    {% for item in EMPLOYEE %}
    <tr><td>{{item.eno }}</td>
    <td>{{item.ename}}</td>
    <td>{{item.email}}</td></tr>
    {%endfor%}
    </tbody>
</table></center>
			</section>
{% endblock %}