{% extends 'index.html' %}
            {% block content %}
            <section>
            <center>
            <form method="post" action="/sendemail/">{% csrf_token %}
                <p> To      :            <input type="text" name="to"></p></br>
                <p> Subject :           <input type="text" name="subject"/></p><br>
                <p> Message :   <input type="textarea" name="message"/></p><br>
                <p><input type="submit" value="send" style="height: 40px; width: 60px;/"></p>
			</form>
            </center>
            </section>
{% endblock %}